/* ======================== */
/* -------- reset --------- */
/* =========================*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-size: 16px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
ul{
  list-style: none;
}

/* =========================*/



/* ======================== */
/* ------- globals -------- */
/* =========================*/

.sr-only{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container{
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}

.btn{
  padding: 3px 26px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  color: var(--text-color);
}
/* =========================*/