/**************************/
/* BELOW 940px (Tablets) */
/**************************/
@media (max-width: 940px) {
  .container{
    width: 90%;
  }
  .general-info,.separator{
    display: none;
  }
  .form-info{
    text-align: center;
  }
}


/**************************/
/* BELOW 690px (Smaller tablets) */
/**************************/
@media (max-width: 690px) {
  .nav-text{
    display: none;
  }

  .info-section{

    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 16px 0;
    padding: 8px 10px;
  }
}


/**************************/
/* BELOW 480px (Phones) */
/**************************/
@media (max-width: 480px) {

}