@import "./globals";
@import "./variables";


body{
  background-color: var(--background-color);
  font-family: 'M PLUS 1 Code', sans-serif;
  color: var(--text-color);
}

/* ======================== */
/* ------- navbar -------- */
/* =========================*/

.nav-header{
  background-color: var(--foreground-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.nav-items{
  height: 60px;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo{
  margin-right: auto;
}

.nav-text{
  font-weight: 300;
}

.btn-about{
  background-color: var(--primary-color-100);
  border: 2px solid var(--primary-color-200);
  transition: all ease 0.2s;
}

.btn-about:hover{
  box-shadow: 0px 0px 0px 4px #E1F9FF;
}

.nav-mode svg{
  height: 24px;
  width: 24px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-mode svg:hover{
  transform: scale(1.1);
}

/* ======================== */
/* ------- info-section -------- */
/* =========================*/

.info-section{
  background-color: var(--foreground-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  margin: 26px 0;
  padding: 16px 20px;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.05);
}

.info-section a{
  color: var(--primary-color-300);
  transition: all 0.2s ease;
}

.info-section a:hover{
  opacity: 0.7;
}


.separator{
  border: 1px solid var(--lines-color);
  border-radius: 8px;
  height: 50px;
  margin: 0 20px;
  align-self: center;
  
}

.general-info,.form-info{
  flex: 1;
}

/* ======================== */
/* ----- filters-header ----- */
/* =========================*/

.filters-header{
display: flex;
flex-wrap: wrap;
gap: 20px;
align-items: center;
}

.search{
  flex: 2;
}

.topic,.stack{
  flex: 1;
}

.input-control{
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-control input,
.input-control select{
  width: 100%;
  min-width: 150px;
  border-radius: 9px;
  padding: 1px 10px 3px 10px;
  border: 1px solid var(--lines-color);
  font-size: 14px;
}

.input-control select{
  background-color: var(--foreground-color);
  color: var(--text-color);

}

input[type=search]:focus-visible,
select:focus-visible{
  outline: 1px solid var(--primary-color-200);
  box-shadow: 0px 0px 0px 2px var(--primary-color-100);
}

input[type=search]::placeholder{
  font-size: 14px;
  color: var(--lines-color);
}

/* ======================== */
/* ----- cards-container ----- */
/* =========================*/

.cards-container ul{
  margin: 30px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  
}

.card {
  background-color: var(--foreground-color);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: all 0.2s ease;
}

.card:hover{
  transform: rotate(1deg) scale(1.03);
}
.card a:hover{
  color: var(--primary-color-300);
}

.card a{
  text-decoration: none;
  color: var(--text-color);
}

.card-img{
  border-bottom: 1px solid var(--lines-color);
}

.card img{
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card-data{
  padding: 10px 30px 20px 30px;
}

.footer{
  text-align: center;
}