:root{
  --background-color: #F9F9F9;
  --foreground-color: #ffffff;
  --text-color: #2F2F2F;
  --lines-color: #D6D6D6;
  --primary-color-100: #F1FCFF;
  --primary-color-200: #B4F0FE;
  --primary-color-300: #086075;
  --secondary-color-100: #FFF4FD;
  --secondary-color-200: #FDC5F5;
  --secondary-color-300: #710061;
}

